@mixin media($size) {
    @media (max-width: $size) {
        @content;
    }
}

.swiper {
    width: 100%;
    height: 540px;

    &-slide {
        img {
            width: 100%;
            height: 540px;
            object-fit: cover;
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 80px;
        display: flex;
        justify-content: center;

        &-bullet {
            border: 2px solid #fff;
            display: block;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: transparent;
            opacity: 1;

            &-active {
                background: #fff;
            }
        }
    }

    @include media(850px) {
        height: 420px;

        &-slide {
            img {
                height: 420px;
            }
        }
    }
}